extends base.pug


block content 
    div
        p=video.description
        small=video.createdAt
        //- if video.views === 1
        //-     h3 #{video.views} view
        //- else
        //-     h3 #{video.views} views 
    a(href=`${video.id}/edit`) Edit Video &rarr;